body {
    font-family: 'Raleway', sans-serif;
}

.link {
    stroke: #333;
    stroke-width: 1;
}

.node {
    cursor: move;
    fill: #fff;
    stroke: #000;
    stroke-width: 1;
}

.node:hover {
    fill: #ccffcc;
    stroke: darkgreen;
    stroke-width: 3;
}

.node.fixed {
    fill: #ccffcc;
}
